<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            {% if app.user %}
                <a href="{{path('add_vehicle')}}">Ajouter un véhicule</a>
                <a href="{{path('app_logout')}}">Au revoir !</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
            {% endif %}
        </nav>
        <section id="messages">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                    <div class="close">&times;</div>
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                    <div class="close">&times;</div>
                </div>
            {% endfor %}
        </section>
        <main class="container">
        {% block body %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
