{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Fiche stagiaire</h1>
    <table>
        <tbody>
            <tr>
                <td class="center">
                    <a class="button" href="{{path('update_stagiaire', {'id': stagiaire.id})}}"><i class="fas fa-pencil-alt"></i></a>
                </td>
                <th>{{stagiaire.nom | upper}} {{stagiaire.prenom | title}}</th>
            </tr>
           <tr>
                <th class="right">Né{% if stagiaire.sexe == 'F' %}e{% endif %} le</th>
                <td>{{stagiaire.dateNaissance | date("d/m/Y")}} ({{stagiaire.age}} ans)</td>
            </tr>
            <tr>
                <th class="right">Adresse</th>
                <td>{{stagiaire.adresse}}<br>{{stagiaire.cPostal}}&nbsp;{{stagiaire.ville | upper}}</td>
            </tr>
           <tr>
                <th class="right">Téléphone</th>
                <td>{{stagiaire.telephone}}</td>
            </tr>
            <tr>
                <th class="right">Mail</th>
                <td>{{stagiaire.mail}}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th colspan="4" class="center">Sessions suivies</th>
            </tr>
            <tr>
                <th class="left">Intitulé</th>
                <th class="left">Dates</th>
                <th class="center">Nb. jours</th>
                <th class="center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for session in stagiaire.sessions %}
            <tr>
                <td class="left">{{session.intitule}}</td>
                <td class="left">du {{session.dateDebut | date("d/m/Y")}} au {{session.dateFin | date("d/m/Y")}}</td>
                <td class="center">{{session.duree}}</td>
                <td class="center">
                {% if session.future %}
                    <a class="button" href="#"><i class="fas fa-trash-alt"></i></a>
                {% else %}
                    <i class="fas fa-ban"></i>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
