{# Vue associée à l'affichage des détails d'un stagiaire (y compris les sessions auxquelles il participe, et intégrant un mini-formulaire local d'inscription) #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Fiche stagiaire</h1>
    <table>
        <tbody>
            <tr>
                <td class="center">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="button" href="{{path('update_stagiaire', {'id': stagiaire.id})}}"><i class="fas fa-pencil-alt"></i></a>
                    {% endif %}
                </td>
                <th>{{stagiaire.nom | upper}} {{stagiaire.prenom | title}}</th>
            </tr>
           <tr>
                <th class="right">Né{% if stagiaire.sexe == 'F' %}e{% endif %} le</th>
                <td>{{stagiaire.dateNaissance | date("d/m/Y")}} ({{stagiaire.age}} ans)</td>
            </tr>
            <tr>
                <th class="right">Adresse</th>
                <td>{{stagiaire.adresse}}<br>{{stagiaire.cPostal}}&nbsp;{{stagiaire.ville | upper}}</td>
            </tr>
           <tr>
                <th class="right">Téléphone</th>
                <td>{{stagiaire.telephone}}</td>
            </tr>
            <tr>
                <th class="right">Mail</th>
                <td>{{stagiaire.mail}}</td>
            </tr>
        </tbody>
    </table>

    {% if stagiaire.nbSessionsSuivies > 0 %}
    <table>
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <th colspan="4" class="center">Sessions suivies</th>
                {% else %}
                <th colspan="3" class="center">Sessions suivies</th>
                {% endif %}
            </tr>
            <tr>
                <th class="left">Intitulé</th>
                <th class="left">Dates</th>
                <th class="center">Nb. jours</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th class="center">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for session in stagiaire.sessions %}
            <tr>
                <td class="left">{{session.intitule}}</td>
                <td class="left">du {{session.dateDebut | date("d/m/Y")}} au {{session.dateFin | date("d/m/Y")}}</td>
                <td class="center">{{session.duree}}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td class="center">
                    {% if session.future %}
                    <a class="button" href="{{ path('cancel_stagiaire', {'id': stagiaire.id, 'sessionId': session.id})}}"><i class="fas fa-trash-alt"></i></a>
                    {% else %}
                    <i class="fas fa-ban"></i>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info center" role="alert">Ce stagiaire n'est inscrit à aucune session...</div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {# À défaut d'arriver à faire au préalable une requête qui ne retourne que les sessions avec des places disponibles... #}
        {% set nbDispo = 0 %}
        {% for session in sessions %}
            {% if session.nbPlaces > session.nbStagiaires %}
                {% set nbDispo = nbDispo + 1 %}
            {% endif %}
        {% endfor %}

        {# S'il y a au moins une session future, avec une place disponible, on construit un mini-formulaire permettant de s'y inscrire #}
        {% if nbDispo > 0 %}
    <div>
        <h2 class="center">Inscription à une session</h2>
        <form name="inscription" method="post" action="{{ path('register_stagiaire', {'id': stagiaire.id})}}">
            <div class="form-group row">
                <label class="col-form-label col-sm-2 required">Session choisie :</label>
                <select class="col-sm-8" name="sessionId">
                        <option value="">-- Choisissez une session disponible --</option>
                    {% for session in sessions %}
                        {% if session.nbPlaces > session.nbStagiaires %}
                        <option value="{{session.id}}">{{session.intitule}} (du {{session.dateDebut|date("d/m/Y")}} au {{session.dateFin|date("d/m/Y")}})</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="col-sm-2 block"><button class="button big">Inscription</button></div>
            </div>
        </form>
    </div>
        {% else %}
    <div class="alert alert-danger center" role="alert">Aucune session disponible !</div>
        {% endif %}
    {% endif %}
{% endblock %}