{# Vue associée à l'affichage de la liste des stagiaires #}

{% extends 'base.html.twig' %}

{% block body %}
    <p class="right mg-top"><a class="button big" href="{{path('add_stagiaire')}}">Ajouter un stagiaire</a></p>
    <h1 class="center no-mg-top">Liste des stagiaires</h1>
    <table class="with-borders">
        <thead>
            <tr>
                <th class="left">Nom</th>
                <th class="left">Prénom</th>
                <th class="center">Sexe</th>
                <th class="center">Date de<br>Naissance</th>
                <th class="center">Nb. sessions<br>achevées</th>
                <th class="center">Nb. sessions<br>en cours</th>
                <th class="center">Nb. sessions<br>à venir</th>
                <th class="center">Action(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
            <tr>
                <td class="left">{{stagiaire.nom | upper}}</td>
                <td class="left">{{stagiaire.prenom | title}}</td>
                <td class="center">{{stagiaire.sexe}}</td>
                <td class="center">{{stagiaire.dateNaissance | date("d/m/Y")}}</td>
                <td class="center">{{stagiaire.nbSessionsAchevees}}</td>
                <td class="center">{{stagiaire.nbSessionsEnCours}}</td>
                <td class="center">{{stagiaire.nbSessionsFutures}}</td>
                <td class="center">
                    <a class="button" href="{{path('detail_stagiaire', {'id': stagiaire.id})}}"><i class="far fa-eye"></i></a>
                    {% if stagiaire.nbSessionsSuivies == 0 %}
                    <a class="button remove-stagiaire-confirm"
                       data-model="modal" data-target="#modalPopup" data-id="{{stagiaire.id}}" 
                       href="{{path('delete_stagiaire', {'id': stagiaire.id})}}"><i class="fas fa-trash"></i></a>
                    {% else %}
                    {% if (stagiaire.nbSessionsEnCours + stagiaire.nbSessionsFutures) == 0 %}
                    <a class="button anonymize-stagiaire-confirm"
                       data-model="modal" data-target="#modalPopup" data-id="{{stagiaire.id}}" 
                       href="{{path('anonymize_stagiaire', {'id': stagiaire.id})}}"><i class="fas fa-mask"></i></a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
