{# Vue associée à l'affichage des détails d'une session (y compris son programme, et les stagiaires qui y sont inscrits) #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Détail d'une session</h1>
    <table>
        <tbody>
            <tr>
                <td class="center">
                    {% if is_granted('ROLE_USER') and session.future %}
                    <a class="button" href="{{path('update_session', {'id': session.id})}}"><i class="fas fa-pencil-alt"></i></a>
                    {% endif %}
                </td>
                <th>{{session.intitule}}</th>
            </tr>
           <tr>
                <th class="right">Dates</th>
                <td>du {{session.dateDebut | date("d/m/Y")}} au {{session.dateFin | date("d/m/Y")}}</td>
            </tr>
            <tr>
                <th class="right">Durée</th>
                <td>{{session.duree}} jours</td>
            </tr>
            <tr>
                <th class="right">Nb. places</th>
                <td>{{session.nbPlaces}} participants</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th colspan="{{ (session.future) ? 4 : 3 }}" class="center">Programme</th>
            </tr>
            <tr>
                <th class="left">Catégorie</th>
                <th class="left">Module</th>
                <th class="center">Nb. jours</th>
                {% if session.future %}
                <th class="center">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for programme in session.programmes %}
            <tr>
                <td class="left">{{programme.module.categorie.libelle}}</td>
                <td class="left">{{programme.module.libelle}}</td>
                <td class="center">{{programme.duree}}</td>
                {% if is_granted('ROLE_USER') and session.future %}
                <td class="center"><a class="button" href="{{ path('unset_programme', {'id': session.id, 'programmeId': programme.id})}}"><i class="fas fa-trash-alt"></i></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th colspan="{{ (session.future) ? 4 : 3 }}" class="center">Participants</th>
            </tr>
            <tr>
                <th class="left">Nom &amp; prénom</th>
                <th class="center">Sexe</th>
                <th class="center">Date de Naissance</th>
                {% if session.future %}
                <th class="center">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in session.stagiaires %}
            <tr>
                <td class="left">{{stagiaire.nomPrenom}}</td>
                <td class="center">{{stagiaire.sexe}}</td>
                <td class="center">{{stagiaire.dateNaissance | date("d/m/Y")}} ({{stagiaire.age}} ans)</td>
                {% if is_granted('ROLE_USER') and session.future %}
                <td class="center"><a class="button" href="{{ path('cancel_session', {'id': session.id, 'stagiaireId': stagiaire.id})}}"><i class="fas fa-trash-alt"></i></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {# S'il y a au moins un stagiaire disponible, on construit un mini-formulaire permettant d'ajouter des participants à cette session #}
    {% if is_granted('ROLE_USER') %}
        {% if session.future %}
            {% if (stagiaires | length) > 0 %}
    <div>
        <h2 class="center">Ajout de participants à cette session</h2>
        <form name="participation" method="post" action="{{ path('register_session', {'id': session.id})}}">
            <div class="form-group row">
                <label class="col-form-label col-sm-2 required">Stagiaire à inscrire :</label>
                <select class="col-sm-8" name="stagiaireId">
                        <option value="">-- Choisissez un stagiaire disponible --</option>
                    {% for stagiaire in stagiaires %}
                        {# {% if session.nbPlaces > session.nbStagiaires %} #}
                        <option value="{{stagiaire.id}}">{{stagiaire.nomPrenom}} ({{stagiaire.age}} ans)</option>
                        {# {% endif %} #}
                    {% endfor %}
                </select>
                <div class="col-sm-2 block"><button class="button big">Inscription</button></div>
            </div>
        </form>
    </div>
            {% else %}
    <div class="alert alert-danger center" role="alert">Aucun stagiaire disponible !</div>
            {% endif %}
        {% else %}
    <div class="alert alert-danger center" role="alert">Cette session ne peut plus être modifiée !</div>
        {% endif %}
    {% endif %}
{% endblock %}
