{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Programme session</h1>
    <table>
        <tbody>
            <tr>
                <td class="center">
                    {% if session.future %}
                    <a class="button" href="{{path('update_session', {'id': session.id})}}"><i class="fas fa-pencil-alt"></i></a>
                    {% endif %}
                </td>
                <th>{{session.intitule}}</th>
            </tr>
           <tr>
                <th class="right">Dates</th>
                <td>du {{session.dateDebut | date("d/m/Y")}} au {{session.dateFin | date("d/m/Y")}}</td>
            </tr>
            <tr>
                <th class="right">Durée</th>
                <td>{{session.duree}} jours</td>
            </tr>
            <tr>
                <th class="right">Nb. places</th>
                <td>{{session.nbPlaces}} participants</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th colspan="{{ (session.future) ? 4 : 3 }}" class="center">Programme</th>
            </tr>
            <tr>
                <th class="left">Catégorie</th>
                <th class="left">Module</th>
                <th class="center">Nb. jours</th>
                {% if session.future %}
                <th class="center">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for programme in session.programmes %}
            <tr>
                <td class="left">{{programme.module.categorie.libelle}}</td>
                <td class="left">{{programme.module.libelle}}</td>
                <td class="center">{{programme.duree}}</td>
                {% if session.future %}
                <td class="center"><a class="button" href="#"><i class="fas fa-trash-alt"></i></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th colspan="{{ (session.future) ? 4 : 3 }}" class="center">Participants</th>
            </tr>
            <tr>
                <th class="left">Nom &amp; prénom</th>
                <th class="center">Sexe</th>
                <th class="center">Date de Naissance</th>
                {% if session.future %}
                <th class="center">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in session.stagiaires %}
            <tr>
                <td class="left">{{stagiaire.nom | upper}} {{stagiaire.prenom | capitalize}}</td>
                <td class="center">{{stagiaire.sexe}}</td>
                <td class="center">{{stagiaire.dateNaissance | date("d/m/Y")}} ({{stagiaire.age}} ans)</td>
                {% if session.future %}
                <td class="center"><a class="button" href="#"><i class="fas fa-trash-alt"></i></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
