{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Liste des sessions</h1>
    <table class="with-borders">
        <thead>
            <tr>
                <th>Intitulé<br>session</th>
                <th>Date de<br>début</th>
                <th>Date de<br>fin</th>
                <th>Nb. Places<br>théoriques</th>
                <th>Nb. Places<br>réservées</th>
                <th>Nb. Places<br>disponibles</th>
                <th>Détail<br>programme</th>
                <th>Détail<br>participants</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td class="left">{{session.intitule}}</td>
                <td class="center">{{session.dateDebut | date("d/m/Y")}}</td>
                <td class="center">{{session.dateFin | date("d/m/Y")}}</td>
                <td class="center">{{session.nbPlaces}}</td>
                <td class="center">{{session.stagiaires | length}}</td>
                <td class="center">{{session.nbPlaces - (session.stagiaires | length)}}</td>
                <td class="center"><a class="button" href="#"><i class="far fa-eye"></i></a></td>
                <td class="center"><a class="button" href="#"><i class="far fa-eye"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
