{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Liste des sessions</h1>
    <table class="with-borders">
        <thead>
            <tr>
                <th class="left">Intitulé session</th>
                <th class="center">Date de<br>début</th>
                <th class="center">Date de<br>fin</th>
                <th class="center">Nb. Places<br>théoriques</th>
                <th class="center">Nb. Places<br>réservées</th>
                <th class="center">Nb. Places<br>disponibles</th>
                <th class="center">Détails</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td class="left">{{session.intitule}}</td>
                <td class="center">{{session.dateDebut | date("d/m/Y")}}</td>
                <td class="center">{{session.dateFin | date("d/m/Y")}}</td>
                <td class="center">{{session.nbPlaces}}</td>
                <td class="center">{{session.stagiaires | length}}</td>
                <td class="center">{{session.nbPlaces - (session.stagiaires | length)}}</td>
                <td class="center"><a class="button" href="{{path('detail_session', {'id': session.id})}}"><i class="far fa-eye"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="center"><a class="button" href="{{path('add_session')}}">Ajouter une session</a></p>
{% endblock %}
