{# Vue de base, fournissant la structure commune de l'ensemble des pages du site (comprend l'inclusion des diverses ressources externes) #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}JMC Formation{% endblock %}</title>
        {% block stylesheets %}
            <!-- Inclusion de BootStrap 4.4 (CSS) -->
            <link rel="stylesheet" 
                  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
                  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
                  crossorigin="anonymous">
            <!-- Inclusion des styles personnels -->
            <link rel="stylesheet" href="{{asset('css/style.css')}}" />
        {% endblock %}
    </head>
    <body>
        <header>
            <!-- Partie gauche de l'en-tête, contenant le logo (cliquable pour retourner en page d'accueil) et le nom du forum -->
            <div id="logo">
                <a href="{{path('home')}}"><img src="{{asset('img/avatar.png')}}" alt="Logo"></a>
                <a class="link-no-decor" href="{{path('home')}}"><h1>JMC Formation</h1></a>
            </div>
            <!-- Partie droite de l'en-tête, gérant la barre de menu de navigation -->
            <nav id="menu">
                <a class="button big" href="{{path('home')}}">Accueil</a>
                <a class="button big" href="{{path('home_session')}}">Sessions</a>
                <a class="button big" href="{{path('home_stagiaire')}}">Stagiaires</a>
                {# <a class="button big" href="{{path('home_programme')}}">Programmation</a> #}
                {% if app.user %}
                    <a class="button big" href="{{path('app_logout')}}">Déconnexion : {{ app.user.pseudo | upper }}</a>
                {% else %}
                    <a class="button big" href="{{path('app_login')}}">Connexion</a>
                {% endif %}
            </nav>
        </header>
        <hr>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
        <div class="alert-{{label}} alert center">
            {{ message }}
            <button class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
             {% endfor %}
        {% endfor %}

        {% block body %}
        {% endblock %}

        <!-- Fenêtre modale, utilisée notamment pour les demandes de confirmation d'action (masquée par défaut, sera affichée/modifiée via JS) -->
        <div class="modal fade" id="modalPopup" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Annuler">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        &nbsp;
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary" id="modalConfirm">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
  
        <hr>
        <footer>
            <!-- Pied de page réduit à son strict minimum ! -->
            <p class="center">&copy; JMC - Février 2020</p>
        </footer>
        {% block javascripts %}
            <!-- Inclusion de jQuery (non "slim"), Pooper.js & BootStrap 4.4 (JavaScript) -->
            <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
            </script>             
            <script 
                src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
                crossorigin="anonymous">
            </script>
            <script 
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
                crossorigin="anonymous">
            </script>
            <!-- Inclusion de Font Awesome -->
            <script 
                src="https://kit.fontawesome.com/5bda009b12.js" 
                crossorigin="anonymous"></script> 
            <!-- Inclusion du JavaScript local -->
            <script src="{{asset('js/gsf.js')}}"></script>
        {% endblock %}
    </body>
</html>
