<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}JMC Formation{% endblock %}</title>
        {% block stylesheets %}
            <!-- Inclusion de UIkit (CSS & JavaScript) -->
            <link rel="stylesheet" href="{{asset('css/uikit.min.css')}}" />
            <script src="{{asset('js/uikit.min.js')}}"></script>
            <script src="{{asset('js/uikit-icons.min.js')}}"></script>
            <!-- Inclusion des styles personnels -->
            <link rel="stylesheet" href="{{asset('css/style.css')}}" />
        {% endblock %}
    </head>
    <body>
        <header>
            <!-- Partie gauche de l'en-tête, contenant le logo (cliquable pour retourner en page d'accueil) et le nom du forum -->
            <div id="logo">
                <a href="{{path('home')}}"><img src="{{asset('img/avatar.png')}}" alt="Logo"></a>
                <h1>JMC Formation</h1>
            </div>
            <!-- Partie droite de l'en-tête, gérant la barre de menu de navigation -->
            <nav id="menu">
                <a class="button" href="{{path('home')}}">Accueil</a>
                <a class="button" href="{{path('home_session')}}">Sessions</a>
                <a class="button" href="{{path('home_stagiaire')}}">Stagiaires</a>
                <a class="button" href="{{path('home_programme')}}">Programmation</a>
            </nav>
        </header>
        <hr>
        {% block body %}
        {% endblock %}
        <hr>
        <footer>
            <!-- Pied de page réduit à son strict minimum ! -->
            <p class="center">&copy; JMC - Février 2020</p>
        </footer>
        {% block javascripts %}
            <!-- Inclusion de jQuery -->
            <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
            </script>
            <!-- Inclusion de Font Awesome -->
            <script 
                src="https://kit.fontawesome.com/5bda009b12.js" 
                crossorigin="anonymous"></script> 
            <!-- Inclusion du JavaScript local -->
            <script src="{{asset('js/gsf.js')}}"></script>
        {% endblock %}
    </body>
</html>
