<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}JMC Formation{% endblock %}</title>
        {% block stylesheets %}
            <!-- Inclusion de BootStrap 4.4 (CSS) -->
            <link rel="stylesheet" 
                  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
                  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
                  crossorigin="anonymous">
            <!-- Inclusion des styles personnels -->
            <link rel="stylesheet" href="{{asset('css/style.css')}}" />
        {% endblock %}
    </head>
    <body>
        <header>
            <!-- Partie gauche de l'en-tête, contenant le logo (cliquable pour retourner en page d'accueil) et le nom du forum -->
            <div id="logo">
                <a href="{{path('home')}}"><img src="{{asset('img/avatar.png')}}" alt="Logo"></a>
                <a class="link-no-decor" href="{{path('home')}}"><h1>JMC Formation</h1></a>
            </div>
            <!-- Partie droite de l'en-tête, gérant la barre de menu de navigation -->
            <nav id="menu">
                <a class="button big" href="{{path('home')}}">Accueil</a>
                <a class="button big" href="{{path('home_session')}}">Sessions</a>
                <a class="button big" href="{{path('home_stagiaire')}}">Stagiaires</a>
                {# <a class="button" href="{{path('home_programme')}}">Programmation</a> #}
            </nav>
        </header>
        <hr>
        {% block body %}
        {% endblock %}
        <hr>
        <footer>
            <!-- Pied de page réduit à son strict minimum ! -->
            <p class="center">&copy; JMC - Février 2020</p>
        </footer>
        {% block javascripts %}
            <!-- Inclusion de jQuery, Pooper.js & BootStrap 4.4 (JavaScript) -->
             <script 
                src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
                crossorigin="anonymous">
            </script>
            <script 
                src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
                crossorigin="anonymous">
            </script>
            <script 
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
                crossorigin="anonymous">
            </script>
            <!-- Inclusion de Font Awesome -->
            <script 
                src="https://kit.fontawesome.com/5bda009b12.js" 
                crossorigin="anonymous"></script> 
            <!-- Inclusion du JavaScript local -->
            <script src="{{asset('js/gsf.js')}}"></script>
        {% endblock %}
    </body>
</html>
